/* ======================================================================
COLOURS
====================================================================== */
$colour-white: #f9f9f9;

$colour-gray-dark: #3c3c3c;
$colour-gray: #777;
$colour-gray-placeholder: lighten($colour-gray, 25%);
$colour-gray-light: #ddd;
$colour-gray-extra-light: #eee;

$colour-primary: #7477bf;
$colour-primary-dark: darken($colour-primary, 20%);
$colour-primary-light: lighten($colour-primary, 10%);

$colour-highlight: limegreen;

/* ======================================================================
FONT STACK
====================================================================== */
$font-primary: 'Open Sans',
sans-serif;

/* ======================================================================
BREAK POINTS
====================================================================== */
$break-xxs: 320px;
$break-xs: 575px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;

/* ======================================================================
MISCELLANEOUS
====================================================================== */
$border-radius-extra-large: 100px;
$border-radius-large: 15px;
$border-radius-small: 5px;

$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);