/* ======================================================================
COLOURS
====================================================================== */
$colour-white: #f9f9f9;

$colour-gray-dark: #3c3c3c;
$colour-gray: #888;
$colour-gray-placeholder: lighten($colour-gray, 20%);
$colour-gray-light: #ddd;
$colour-gray-extra-light: #eee;

$colour-primary: #736dab;
$colour-primary-dark: darken($colour-primary, 20%);
$colour-primary-light: lighten($colour-primary, 10%);

$colour-highlight: limegreen;

/* ======================================================================
FONT STACK
====================================================================== */
$font-primary: 'Open Sans',
sans-serif;

/* ======================================================================
MISCELLANIOUS
====================================================================== */
$border-radius-large: 15px;
$border-radius-small: 5px;