.charts {
  color: $colour-gray;

  @include mq('md') {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid $colour-gray-light;
  }

  &__container {
    padding: 2rem 2rem 0;

    @include mq('md') {
      padding: 2rem;
    }

    &:first-child {

      @include mq('md') {
        border-right: 1px solid $colour-gray-light;
      }

    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;

    @include mq('sm') {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      text-align: left;
    }
  }

}