.page-header {
  // display: grid;
  // grid-template-columns: auto 1fr;
  // padding: 0;

  @include mq('md') {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0;
  }

  &__title {
    font-size: 2.25rem;
    color: $colour-gray;
    font-weight: 400;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;

    @include mq('md') {
      margin-top: 0;
      padding: 2rem;
    }
  }

  &__search {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;

    @include mq('md') {
      justify-content: flex-end;
      border-bottom: 1px solid $colour-gray-light;
      border-left: 1px solid $colour-gray-light;
    }

    @include mq('sm') {
      padding: 1rem 2rem;
    }
  }

  &__search-box-container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    border: 1px solid $colour-gray-light;
    border-radius: $border-radius-small;

    @include mq('md') {
      width: 45%;
    }
  }

  &__search-box {
    border: none;
    background-color: $colour-white;
    color: $colour-gray;
    padding: 1rem;
    font-family: $font-primary;
    font-size: 1.4rem;

    &::placeholder {
      color: $colour-gray-placeholder;
    }
  }

  &__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon {
    color: $colour-primary;
    padding: 1rem;
    font-size: 2rem;
  }
}