.social {
  padding: 2rem 1rem;
  color: $colour-gray;

  @include mq('sm') {
    padding: 2rem;
  }

  @include mq('md') {
    border-bottom: 1px solid $colour-gray-light;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: 400;

    @include mq('md') {
      margin: 0 0 2rem;
    }

    @include mq('sm') {
      text-align: left;
      font-size: 1.5rem;
    }
  }

  &__board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 1rem;

    @include mq('sm') {
      grid-gap: 2rem;
    }
  }

  &__tile {
    display: flex;
    border: 1px solid $colour-gray-light;
    border-radius: $border-radius-small;
    padding: 2rem;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: $colour-primary;
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: $border-radius-extra-large;
  }

  &__icon {
    fill: $colour-white;

    &--twitter {
      transform: translateY(4px) scale(0.9);
    }

    &--facebook {
      transform: translateX(-1px);
      transform: translateY(-2px);
    }

    &--google-plus {
      transform: scale(0.9);
    }


  }


  &__info-container {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }

  &__tile-name {
    font-size: 1.8rem;
    color: $colour-primary;
  }

  &__tile-count {
    font-size: 5rem;
  }
}