.traffic {
  padding: 2rem 2rem 0;
  color: $colour-gray;

  @include mq('md') {
    padding: 2rem;
  }

  @include mq('md') {
    border-bottom: 1px solid $colour-gray-light;
  }


  &__header {

    @include mq('sm') {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;

    @include mq('sm') {
      margin-bottom: 0;
    }

    @include mq('sm') {
      font-size: 1.5rem;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    @include mq('sm') {
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }

  &__button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-large;
    background-color: transparent;
    color: $colour-gray;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--active {
      background-color: $colour-highlight;
      color: $colour-white;
    }
  }

  &__chart {
    width: 100%;
    height: 40rem;
  }
}