.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  grid-column: 1 / -1;
}

.nav {
  grid-column: 1 / 2;
}

.main {
  grid-column: 2 / -1;
  padding-bottom: 4rem;
}